<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div id="particles-js"></div>

        
        <h1 id="foo" unselectable="on" class="unselectable">Welcome!</h1>
        <a id="github" href="https://github.com/peetal" style="margin-left: 70px; padding-bottom: 50px;"><button>Check Me Out @peetal <i class="fa fa-github"></i></button></a>

    <script scr="particles.js"></script>
    <script scr="script.js"></script>
</body>
</html>

