/* assets/scss/custom.scss*/

/* article display */
.article-container {
  max-width: 70%;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

body {
  font-family: inherit;
  font-size: 0.9rem;
  line-height: inherit;
  color: inherit;
  margin-top: 71px; /* Offset body content by navbar height. */
  padding-top: 0;
  counter-reset: captions;
}
