/* assets/scss/custom.scss*/

/* article display */
.article-container {
  max-width: 70%;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

.navbar {
  height: 70px;
  background: $sta-menu-primary;
/* this is the part that takes out the shadow & the only edit */
  box-shadow: none;  
  font-size: 18px;
  font-weight: 900 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 1rem;
}

.card-simple {
  background: #fff;
/* this is the part that takes out the shadow */
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
}

.card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
/* this is the part that takes out the shadow */
  box-shadow: none;
  transition: all 0.2s ease-out;
}

canvas {
  display:block;
  vertical-align: top;
}

#particles-js{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 350px;
  background: #EDF1F1;
  background-size: cover;
  z-index: -1;
  } 

h1.unselectable {
  color: rgb(7, 7, 7);
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -2px;
  margin-left: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.home-section {
    padding: 10px 0 60px 0;
  }

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }



